In [1]:
import pandas as pd

In [2]:
file = "../assets/cities.csv"

In [4]:
df = pd.read_csv(file)
df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,vaini,-21.2000,-175.2000,28.09,78,20,3.60,TO,1674678276
1,1,gold coast,-28.0000,153.4333,23.47,97,53,1.54,AU,1674678044
2,2,eyl,7.9803,49.8164,23.49,70,8,7.65,SO,1674678277
3,3,tuktoyaktuk,69.4541,-133.0374,-23.00,84,75,4.63,CA,1674678277
4,4,morales,2.7570,-76.6172,22.44,66,99,1.99,CO,1674678277

In [6]:
df.to_html("cities_table.html", index=False)